button, input[type="submit"], button  {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth hover effect */
  }
  
  button:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }

  h1 {
    color: #007BFF;
    margin-bottom: 20px;
  }
